# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db



# Logs
*.log